<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gxa.mapper.TeacherMapper">
    <update id="updateStatusById">
        update teacher set status =#{status} where id=#{teacherId}
    </update>
    <update id="updateStatusByIds">
        update teacher set status=#{status} where id in
        <foreach collection="teacherIds" item="teacherId" open="(" close=")" separator=",">
            #{teacherId}
        </foreach>
    </update>
    <select id="findById" resultType="com.gxa.pojo.Teacher">
        select  * from teacher where id=#{id} and is_deleted=0
    </select>
    <select id="findAll" resultType="com.gxa.pojo.Teacher">
        select  * from teacher where course_id=#{courseId} and is_deleted=0 and status=1
    </select>
</mapper>